<nav class="navbar navbar-fixed navbar-inner header" style="padding: 0px 16px">
    <div class="navbar-brand" style="color: dodgerblue;display: table;">
        <i class="fa fa-bolt fa-3x" style="color: dodgerblue;"></i>
        <a href="http://127.0.0.1:5000/" style="display: table-cell; vertical-align: middle; padding-left: 15px;">BOLT</a>
    </div>

    <ul class="nav pull-right">
        <li>
            <a class="nav-link" href="/upload">Upload</a>
        </li>
        <li>
            <a class="nav-link" onclick="download(cnv, newFilename);">Download</a>
        </li>
    </ul>
</nav>